$textColor: #ffffff !important;
$primaryColor: #212121 !important;
$contestColor :#484848!important;

.salles-admin,
.users-admin,
.voies-admin {
    width: 80vw;
    top: 25vh;
    position: absolute;
    left: 10vw;
}

.users-admin {
    top: 12vh;
}

.users-admin {
    margin: 0;
}

.room-change {
    text-align: center;
}

.popup {
    position: absolute;
    margin-bottom: 0;
    bottom: 0!important;
    width: 100%;
    left: 0;
    z-index: 2;
    text-align: center;
}

/*       Gestion des bouttons administrateurs => "Gestion des salles" et "Gestion des comptes"          */
.content-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    width: 300px;
    padding: 15px;
    margin: 50px 50px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transition: all 0.3s ease-in-out;
}

.colorVoie {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    margin-top: 15%;
    margin-left: 30%;
}

.trContentTh {
    text-align: center;
    font-size: 20px;
}


/* Salles */

.add-sector-no-data,
.add-route-no-data {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    width: 300px;
    color: $textColor;
    border-color: $primaryColor;
    margin-bottom: 10%;
    padding: 15px;
}

.add-room,
.add-route,
.add-sector{
    display: block;
    position: absolute;
    top: 100px;
    right: 4vw;
    width: 250px;
    color: $textColor;
    border-color: $primaryColor;
    margin-bottom: 10%;
}

.adding-room,
.modify-room,
.modify-route,
.add-new-route {
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 100px 50px 100px;
    background-color: lightgrey;
}

.add-new-route {
    position: absolute;
    top: 60%;
    left: 50%;
}

.label-adding-room,
.label-updating-room {
    font-size: 24px;
    margin: 20px 20px;
}

.delete {
    position: relative;
    color: red;
    list-style-type: none!important;
    text-decoration: none!important;
    transition: 100ms all linear;
    background:none;
    border:none;
}

.delete:hover {
    color: #9b0000 !important;
    transition: 100ms all linear;
}

.modify-user {
    color:#484848;
    list-style-type: none!important;
    text-decoration: none!important;
    transition: 100ms all linear;
    background:none;
    border:none;
}

.modify-user:hover {
    color:black;
    transition: 100ms all linear;
}

.user-is-admin {
    color: #1565c0;
    transition: 100ms all linear;
}

.other-user-is-admin:hover {
    color: #003c8f;
    transition: 100ms all linear;
}

.new-infos {
    margin: 5vh 0 5vh 0;
}

input::placeholder {
    font-size: 18px;
}

.order-by {
    cursor: pointer;
}

.secondary-color {
    border:none!important;
}
