$contestColor :#484848!important;
$contestColorDark:#484848!important;

#contest {
    display: block;
    position: fixed;
    top: 0;
    left: -15vw;
    height: 100vh;
    width: 13vw;
    padding-top: 10vh;
    background-color:$contestColor;
    text-align: center;
    transition: 0.2s all linear;
    color: white;
}

#closeContest {
    position: fixed;
    top: 0;
    left: -2vw;
    width: 2vw;
    height: 100vh;
    background-color: $contestColor;
    transition: 0.2s all linear;
    color: white;
}

#contest > h2 {
    padding: 2vh 0 2vh 0;
}

.chevron-center {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
}

#close {
    cursor: pointer;
    margin-left: 20vw;
    width: 2vw;
    font-size: 50px;
}
#open {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 5vh;
    cursor: pointer;
    background-color: $contestColor;
    color: white;
    transition: 0.25s ease all;
}

tr {
    text-align: center;
}

.text-renverse,
.text-close {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 25px;
}

#ranking {
    height: 70%;
    padding: 1vw;
}

#open:hover,
#closeContest:hover {
    background-color: $contestColorDark;
    cursor: pointer;
}

.text-renverse {
    transform: rotate(90deg) translateX(-10vh);
}
