$contestColor :#484848!important;
$contestColorDark:#484848!important;

#contest {
    display: block;
    position: fixed;
    top: 0;
    left: -15vw;
    border: 2px solid black;
    border-right-color:white ;
    height: 100vh;
    width: 13vw;
    background-color:$contestColor;
    text-align: center;
    z-index: 20;
    transition: 0.4s all linear;
    color: white;
}

#closeContest {
    position: fixed;
    border: 2px solid black;
    border-left: none;
    top: 0;
    left: -2vw;
    width: 2vw;
    height: 100vh;
    background-color: $contestColor;
    z-index: 20;
    transition: 0.4s all linear;
    color: white;
}

#contest > h2 {
    padding: 2vh 0 2vh 0;
    border-bottom: solid 2px;
}

.chevron-center {
    position:fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
}

#close {
    cursor: pointer;
    margin-left: 20vw;
    width: 2vw;
    font-size: 50px;
}

#open {
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 2vw;
    border-right: 2px solid black;
    background-color: $contestColor;
    z-index: 20;
    height: 100vh;
    transition: 0.4s all ease-in-out;
    color: white;
}

.text-renverse,
.text-close {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 28px;
    transition: 1s all ease-in-out;
}

.text-renverse {
    transform: rotate(-90deg);
}

#ranking {
    height: 70%;
    padding: 1vw;
}

#consult {
    padding-top: 2.5vh;
    text-align: center;
    border-top: solid 2px;
}

#open:hover,
#closeContest:hover {
    background-color: $contestColorDark;
}
