$primaryColor: #212121 !important;
$textColor: #ffffff !important;
/* Accueil */


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url("../../img/background_room.png");
    background-size: cover;
    filter: brightness(0.7);
    z-index: 0;
}


.boxRoom {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 50px 0px 50px 0px;
    border: 2px solid black;
    border-radius: 2px;
    height: 25vh;
    margin: 50px 50px 0 50px;
    background-image: url("../../img/bloc_trotteur.png");
    cursor: pointer;
}


.boxRoom:hover, .boxRoom:visited, .boxRoom:link, .boxRoom:active {
    text-decoration: none;
    color: white;
}

#roomInfo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.25s ease all;
}

#roomInfo > p {
    margin-top: 1vh;
}

#roomname {
    transition: 0.1s ease all;
    border-radius: 5px;
}

.display-none {
    display: none;
    opacity: 0;
    animation: appear 0.5s linear forwards;
}

@keyframes appear {
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.boxRoom:hover .display-none {
    display: block;
}

.boxRoom:hover #roomInfo {
    height: 80%;
}

.routeBlocks {
    padding: 0;
    height: 25vh;
    transition: 0.2s ease all;
}

.routeBlocks:hover {
    transform: scale(1.1);
    box-shadow: 1vw 7vh 5px $primaryColor;
    transition: 0.2s ease all;
}

.content-voie,
.content-bloc,
.content-empty-voie,
.content-empty-bloc {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    z-index: 1;
}

.content-voie,
.content-empty-voie {
    left: 0;
    border-right: 2px solid black;
}

.content-bloc,
.content-empty-bloc {
    right: 0;
    border-left: 2px solid black;
}

.content-image-room {
    margin-top: 8vh;
    transition: 0.4s all linear;
}

.image-room {
    z-index: 0;
    max-height: 100%;
}

.room-bloc {
    max-width: 100%;
}

.content-empty-bloc,
.content-empty-voie {
    height: 100%;
    background-color: rgba(111, 111, 111, 0.5);
}

.content-image {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.clickable-image {
    background-repeat: no-repeat;
}

.text-image-room {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    color: $textColor;
    font-weight: bold;
}

.content-image-room:hover {
    opacity: 0.8;
    transition: 0.4s all linear;
}

.text-image-room__voie-only,
.text-image-room__bloc-only {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    color: $textColor;
    font-weight: bold;
}

.image-room__only-voie,
.image-room__only-bloc {
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
}

.image-room__only-voie:hover,
.image-room__only-bloc:hover {
    opacity: 0.85;
    transition: 0.4s all linear;
}

.section__split {
    position: relative;
    margin: -50px;
    height:92vh;
    z-index: 0;
    overflow-y: hidden!important;
}

.section-split__image {
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 50%;
    background-repeat: no-repeat;
    transition: 100ms background-color linear;
}

.image-left {
    left: 0;
    background-image: url('./public/img/voie.png');
}

.image-right {
    right:0;
    background-image: url('./public/img/bloc.png');
    transform: scaleX(-1);
}

.section-split__image:hover {
    background-color: #9ea3a7;
    opacity: 0.8;
    transition: 100ms all linear;
}

.section-split__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    font-weight: bold;
}

.text-left {
    left: 25%
}

.text-right {
    right: 25%;
}
