$contestColor: #484848 !important;
$finishedRoute: #8bc34a !important;

.navigabilite {
    position: absolute;
    top: 20%;
    left: 25%;
}

.img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    z-index: 100;
    cursor: pointer;
}

.colorRoute {
    display: block;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    margin-left: 30%;
    margin-bottom: 10%;
}

.like {
    height: 20px;
    width: 20px;
    user-select: none;
    cursor: pointer;
}

.transparentDiv {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.imageCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    height: 750px;
    width: 750px;
    z-index: 100;
    transition: 0.5s width linear;
}


.imgVoie {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    z-index: 100;
    transition: 0.3s all ease-in-out;
}

.imgOnPage {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    transition: 0.5s all ease-in-out;
}

.imgOnMiddleScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    width: 750px;
    height: 750px;
    transition: 0.5s all ease-in-out;
}

.infos-room {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    font-size: 32px;
    opacity: 1;
    border: 4px solid black;
    z-index: 10;
}

.content-voie,
.content-bloc,
.content-empty-voie,
.content-empty-bloc {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    z-index: 1;
}

.content-voie,
.content-empty-voie {
    left: 0;
    border-right: 2px solid black;
}

.content-bloc,
.content-empty-bloc {
    right: 0;
    border-left: 2px solid black;
}

.content-image-room {
    margin-top: 80px;
}

.image-room {
    z-index: 0;
    max-height: 100%;
}

.room-bloc {
    max-width: 100%;
}

.content-empty-bloc,
.content-empty-voie {
    height: 100%;
    background-color: rgba(111, 111, 111, 0.5);
}


.content-image {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

}

.clickable-image {
    background-repeat: no-repeat;
}

.text-image-room {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    color: black;
    font-weight: bold;
}

.content-image-room:hover {
    opacity: 0.7;
    transition: 0.4s all linear;
}

#tableContent {
    position: absolute;
    left: 20vw;
    width: 40vw !important;
}

.table-text {
    font-size: 22px;
    padding: 10px !important;
}

.finished-check {
    color: $finishedRoute;
    list-style-type: none !important;
    text-decoration: none !important;
    transition: 100ms all linear;
}

.finished-check:hover {
    color: #5a9216 !important;
    transition: 100ms all linear;
}

.validate-check {
    color: $contestColor;
    list-style-type: none !important;
    text-decoration: none !important;
    transition: 100ms all linear;
}

.validate-check:hover {
    color: #000000 !important;
    transition: 100ms all linear;
}

td {
    border-top-color: #484848 !important;
}

th {
    border: none !important;
}

.filter {
    position: fixed !important;
    top: 120px;
    right: 4.5vw;
    width: 30vw;
}
