.navbar, .footer {
    background-color: rgba(120, 224, 143, 1.0);
    height: 80px;
    z-index: 1;
}

.vertical {
    transform: translateY(125%);
}

.boxRoom {
    font-size: 18px;
    text-align: center;
    padding: 50px 0px 50px 0px;
    margin: 50px;
    border: 1px solid black;
}

.table {
    width: 80vw;
}

.main {
    margin: 50px 50px;
}

/* ADMIN */

.salles-admin {
    width: 80vw;
    position: absolute;
    left: 10vw;
    margin: 5% 0 8% 0;
}

.room-change {
    text-align: center;
    background-color: lightgrey;
}


/*       Gestion des bouttons administrateurs => "Gestion des salles" et "Gestion des comptes"          */
.content-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    width: 300px;
    padding: 15px;
    margin: 50px 50px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transition: all 0.3s ease-in-out;
}

/* Salles */

.add-room,
.add-route {
    position: absolute;
    top: 20%;
    right: 10vw;
    width: 300px;
    font-size: 28px;

}

.adding-room,
.modify-room {
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 100px 50px 100px;
    background-color: lightgrey;
}

.label-adding-room,
.label-updating-room {
    font-size: 24px;
    margin: 20px 20px;
}
.boxroom {
    height: 25vh;
    margin: 50px 50px 0 50px;
}

/* [ ACCUEIL ] */

#roomname {
    margin-top: 5vh;
    transition: 0.2s ease all;
}

.display-none {
    opacity: 0;
}

.boxRoom:hover .display-none{
    opacity: 1;
    transition: 0.5s ease all;
}

.boxRoom:hover #roomname{
    margin-top: 0;
}
