$textColor: #ffffff !important;
$primaryColor: #212121 !important;
$contestColor :#484848!important;
$contestColorDark:#484848!important;

html {
    font-family:Arial;
}

.navbar {
    background-color: $primaryColor;
    height: 80px;
    z-index: 10;
    color: $textColor;
}

.escalapp {
    color: $textColor;
    transition: 0.4s all linear;
    font-size: 30px;
    font-weight: bold
}

.nav-link {
    color: $textColor;
}


.vertical {
    transform: translateY(125%);
}

.main {
    margin: 50px 50px;
}

.text-display,
.nav-link,
.dropdown-item{
    font-size: 18px;
}
