.navbar, .footer {
    background-color: rgba(120, 224, 143,1.0);
    height: 80px;
    z-index: 1;
}

.vertical {
    transform: translateY(125%);
}

.boxRoom {
    font-size: 18px;
    text-align: center;
    padding: 50px 0px 50px 0px;
    margin:50px;
    border: 1px solid black;
}
