/* Classement */

.ranking {
    align-content: center;
    margin-left: 7.5vw;
    border: solid;
}

.columns {
    background-color: #9e9e9e;
    border-right: solid;
    border-radius: 5px;
}

#middle-column {
    border-right: solid;
    border-left: solid;
}

/* [Grimpeur] */

