html {
  font-family: Arial;
}

.navbar {
  background-color: #212121 !important;
  height: 80px;
  z-index: 10;
  color: #ffffff !important;
}

.escalapp {
  color: #ffffff !important;
  -webkit-transition: 0.4s all linear;
  transition: 0.4s all linear;
  font-size: 30px;
  font-weight: bold;
}

.nav-link {
  color: #ffffff !important;
}

.vertical {
  -webkit-transform: translateY(125%);
          transform: translateY(125%);
}

.main {
  margin: 50px 50px;
}

.text-display,
.nav-link,
.dropdown-item {
  font-size: 18px;
}

