.navbar, .footer {
    background-color: rgba(120, 224, 143,1.0);
    height: 80px;
}
body {
    background-color: rgba(184, 233, 148,0.2);
}

.vertical {
    transform: translateY(125%);
}

.box {
    font-size: 22px;
    text-align: center;
    margin:50px;
    border: 1px solid black;
}
